<footer class="site-footer">

<div class="row">
    <div class="small-8 small-centered large-6 large-centered">         

        <a target="_blank" href="http://github.com/olympus-incubator">
            <img class="social" src="{{'/img/social/github.svg'| prepend: site.baseurl }}"></a>          

        <a target="_blank" href="https://www.twitter.com/projectolympus/">
            <img class="social" style="width:60px; margin-right:-5px;" src="{{'/img/social/twitter.svg'| prepend: site.baseurl }}"></a>

    </div>
</div>

</footer>
